@model AppUI.Models.ParticipantEventDetails
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<html>
<head>
    <title>Update Participant</title>
</head>
<body>
    <h2>Update Participant</h2>
    <form asp-route="EditParticipant" method="post">
        <input type="hidden" asp-for="Id" />

        <div>
            <label asp-for="ParticipantEmailId">Email:</label>
            <input type="text" asp-for="ParticipantEmailId" />
        </div>
        <div>
            <label asp-for="EventId">Event ID:</label>
            <input type="number" asp-for="EventId" />
        </div>
        <div>
            <label asp-for="IsAttended">Is Attended:</label>
            <input type="text" asp-for="IsAttended" />
        </div>
        <div>
            <input type="submit" value="Update Participant" />
        </div>
    </form>
</body>
</html>
