.No-data{
    background: black;

    h1{
        font-size: 4rem;
    }
}

ul{
    background: beige;
    color: #3a3a3a;

    li{
        color: #3a3a3a;
        font-size: 1.6rem;
        padding: 10px 5px;
        list-style: none;
    }
}
