@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Login</h2>
<ul>
    <li><a asp-action="AdminLogin">Admin Login</a></li>
    <li><a asp-action="TrainerLogin">Trainer Login</a></li>
    <li><a asp-action="LearnerLogin">Learner Login</a></li>
</ul>
